/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2025 Moniruzzaman
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@import url('variable.css');



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
@import url('reset.css');




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

@import url('components.css');


@import url('typography.css');



/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/
@import url('preloader.css');




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
@import url('header.css');




/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
@import url('hero.css');




/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/
@import url('category.css');




/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
@import url('about.css');




/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/
@import url('course.css');




/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

@import url('cta.css');



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

@import url('footer.css');



/*-----------------------------------*\
  #CONTAINER QUERIES
\*-----------------------------------*/
.card-container {
  container-type: inline-size;
}

@container (min-width: 500px) {
  .course-card {
    flex-direction: row;
  }

  .course-card .card-banner {
    width: 160px;
    flex-shrink: 0;

  }
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/