.footer {
    border-block-start: 1px solid var(--border-eerie-black);

}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.copyright {
    flex-grow: 1;
    font-family: var(--fontFamily-recoleta);
}

.back-to-top-btn .span {
    display: none;
}

.back-to-top-btn {
    color: var(--text-white);
    padding: 32px 16px;
    border-inline: 1px solid var(--border-eerie-black);
}


/* Responsive for larger than 992px */
@media(min-width: 992px) {
    .back-to-top-btn .span {
        display: block;
    }

    .back-to-top-btn {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}