.preloader {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    box-shadow: inset 55vw 0 0 0 var(--bg-white), inset -55vw 0 0 0 var(--bg-white);
    display: grid;
    place-items: center;
    z-index: 10;
}

.preloader:is(.loaded) {
    transition: 300ms ease 500ms;
    pointer-events: none;
    box-shadow: inset 0 0 0 var(--bg-white), inset 0 0 0 var(--bg-white);
}

.preloader:is(.loaded) .line {
    animation: loaded 500ms ease forwards;
}

.preloader .line {
    width: 1px;
    height: 100%;
    background-color: var(--bg-black);
    transition: var(--transition-2);
    animation: loading 1000ms linear forwards;
}

@keyframes loading {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0.3);
    }
}

@keyframes loaded {
    0% {
        transform: scaleY(0.3);
    }

    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}