/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 Moniruzzaman
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@import url('variable.css');



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

@import url('reset.css');




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
@import url('components.css');

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/
@import url('typography.css');

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

@import url('preloader.css');



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

@import url('header.css');



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

@import url('hero.css');



/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

@import url('service.css');



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
@import url('about.css');




/*-----------------------------------*\
  #CTA
\*-----------------------------------*/
@import url('hireMeNow.css');




/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

@import url('project.css');



/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

@import url('testimonial.css');



/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

@import url('contact.css');



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
@import url('footer.css');




/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/
.cursor-dot,
.cursor-outline {
  display: none;
}

/* Responsive for larger than 768px */
@media(min-width: 768px) {

  .cursor-dot,
  .cursor-outline {
    display: block;
    position: fixed;
    top: -60px;
    left: -60px;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-circle);
    z-index: 10;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }

  .cursor-dot {
    width: 60px;
    height: 60px;
    background-color: var(--bg-white);
    transform: translate(-50%, -50%) scale(0.1);
  }

  .cursor-dot:is(.hovered) {
    transform: translate(-50%, -50%) scale(1);
    mix-blend-mode: exclusion;
  }

  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid var(--border-white);
    opacity: 0.5;
    transition-duration: 100ms;

  }

  .cursor-outline:is(.hovered) {
    opacity: 0;
  }
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/