.heading-primary {
    color: var(--charcoal);
    font-weight: var(--fw-700);
    line-height: 1.3;
}

.headline-xxl {
    font-size: var(--fs-1);
}

.headline-xl {
    font-size: var(--fs-2);
}

.headline-lg {
    font-size: var(--fs-3);
}

.headline-md {
    font-size: var(--fs-4);
}

.headline-sm {
    font-size: var(--fs-5);
}


.section-subtitle {
    font-size: var(--fs-7);
    font-weight: var(--fw-700);
    color: var(--violet-blue-crayola);
    text-transform: uppercase;
    margin-block-end: 1.6rem;
}