/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 Moniruzzaman
 */


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
@import "variable.css";

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

@import "reset.css";

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
@import "component.css";

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

@import "typography.css";

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

@import "header.css";

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

@import "hero.css";

/*-----------------------------------*\
  #PROCESS
\*-----------------------------------*/

@import "process.css";

/*-----------------------------------*\
  #WORK
\*-----------------------------------*/
@import "work.css";

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
@import "footer.css";

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/* Responsive for larger than 575px screen */

@media(min-width: 575px) {
  /* Reused Style */

  .container {
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
  }

  /* Header */
  .header .container {
    max-width: unset;
  }
}

/* Responsive for larger than 768px screen */

@media(min-width: 768px) {

  /* Custom Property */
  :root {
    /* typography */
    --fontSize-1: 5.5rem;
    --fontSize-2: 4rem;

    /* Spacing */
    --section-spacing: 150px;
  }

  /* Reused Style */
  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 500px;
    margin-inline: auto;
  }

  /* Process */
  .process-list {
    grid-template-columns: 1fr 1fr;
  }


  .work-list {
    grid-template-columns: 1fr 1fr;
  }

  .header .btn-secondary {
    height: 52px;
    color: var(--text-white);
    border: 2px solid var(--border-blue-jeans);
    padding-inline: 40px;
  }

  .btn-secondary:is(:hover, :focus-visible) {
    background-color: var(--bg-blue-jeans);
  }

  /* Header */

  .header .btn {
    display: grid;
    margin-inline: auto 30px;
  }

  /* Hero */

  .hero {
    padding-block: 180px;
  }

  .hero-content {
    max-width: 560px;
  }

  .hero :where(.input-wrapper) {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .hero .btn {
    margin-block-start: 0;
    min-width: max-content;
  }

  .hero-banner {
    position: relative;
    max-width: 540px;
    margin-inline: auto;
  }

  .hero .shape {
    display: block;
    position: absolute;
    filter: var(--shadow-2);
  }

  .hero .shape-youtube {
    width: 13%;
    top: 350px;
    left: 80px;
  }

  .hero .shape-twitter {
    width: 16%;
    top: 440px;
    left: -20px;
  }

  .hero .shape-instagram {
    width: 20%;
    bottom: -20px;
    left: 80px;
  }

  /* Footer */
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }






}


/* Responsive for larger than 992px screen */

@media(min-width: 992px) {
  /* Reused Style */

  .container {
    max-width: 960px;
    padding-inline: 40px;
  }

  body.nav-active {
    overflow: auto;
  }

  /* Header */

  .navbar-open-btn,
  .overlay {
    display: none;
  }

  .header .logo img {
    width: max-content;
  }

  .navbar,
  .navbar:is(.active) {
    all: unset;
    margin-inline-start: 80px;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-list>li:not(:last-child) {
    margin-block-end: 0;
  }

  .navbar-link {
    color: var(--text-white);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-white-alpha-60);
  }

  .header .btn {
    margin-inline-end: 0;
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /* Process */
  .process .process-banner {
    display: block;
    width: 540px;
    margin-inline: auto;
  }

  .process .process-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .process-item {
    text-align: left;
  }

  .process-item .process-icon {
    margin-inline: auto;
  }

  .process .process-list {
    gap: 30px 40px;
  }


  /* Work */
  .work .work-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */

  .footer-top .container {
    grid-template-columns: 0.5fr 1fr;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom-list {
    margin-block-start: 0;
    gap: 50px;
  }

}


/* Responsive for larger than 1200px screen */
@media (min-width: 1200px) {

  /* Custom Property */
  :root {
    /* Typography */
    --fontSize-1: 7rem;
    --fontSize-3: 2.8rem;
  }

  /* Reused Style */
  .container {
    max-width: 1140px;
  }

  .section-text {
    max-width: 750px;
  }
}



/* Responsive for larger than 1400px screen */
@media (min-width: 1400px) {

  /* Custom Property */
  :root {
    /* Typography */
    --fontSize-1: 8rem;
  }

  /* Reused Style */
  .container {
    max-width: 1350px;
  }

  .section-text {
    margin-block-end: 60px;
  }

  /* Hero */
  .hero-text {
    font-size: 1.8rem;
    margin-block: 40px;
  }

  /* Process */
  .process .process-wrapper {
    grid-template-columns: 0.7fr 1fr;
    gap: 130px;
  }

  .process-item .process-icon {
    width: 80px;
  }

  .process-item .process-item-title {
    margin-block: 25px 15px;
  }

  .process .process-list {
    row-gap: 50px;
  }
}