.title {
    color: var(--text-white);
    line-height: 1.1;
}

.headline-large {
    font-size: var(--fontSize-1);
}

.headline-medium {
    font-size: var(--fontSize-2);
    font-weight: var(--weight-semiBold);
}

.headline-small {
    font-size: var(--fontSize-3);
    font-weight: var(--weight-regular);
}