.blog {
    background-image: linear-gradient(to bottom, var(--alice-blue) 60%, var(--white) 60%);
    padding-inline-start: 0;
}

.blog .section-title {
    margin-block-end: 6rem;
}

.blog-card {
    padding: 5rem 3.6rem;
    border-radius: var(--radius-12);
    border: 2px solid var(--alice-blue);
    background-image: url('../images/blog-card.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.blog-card::before,
.blog-card::after {
    inset: 0;
    z-index: -1;
    transition: var(--transition-3);
}

.blog-card::before {
    background-color: var(--midnight-green);
    opacity: .9;
}

.blog-card::after {
    background-color: var(--white);
}

.blog-card:is(:hover, :focus-visible)::after {
    transform: translateY(100%);
}

.blog-card:is(:hover, :focus-visible) {
    --hover-color: var(--white);
}


.blog-card .meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 2rem;
    margin-block-end: 1.2rem;
}

.blog-card .card-meta {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--midnight-green);
}

.blog-card .card-meta ion-icon {
    font-size: 1.8rem;
}

.blog-card .card-meta:first-child .span {
    text-transform: uppercase;
}

.blog-card .date {
    color: var(--space-cadet);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    opacity: 0.5;
    margin-block: 1.6rem;
}

.blog-card .btn-text {
    color: var(--verdigris);
    margin-block-start: 1.2rem;
}

.blog-card :is(.card-meta, .card-title, .date, .card-text, .btn-text) {
    transition: var(--transition-2);
}

.blog-card:is(:hover, :focus-visible) :is(.card-meta, .card-title, .date, .card-text, .btn-text) {
    color: var(--hover-color);
}


/* Responsive for large than 992px screen */
@media (min-width:992px) {

    .blog .grid-list {
        grid-template-columns: 1fr 1fr;
    }
}


/* Responsive for large than 1200px screen */
@media (min-width:1200px) {

    .blog .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }
}