.header .btn {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 1.6rem;
    z-index: 4;
}

.header:is(.active) {
    position: fixed;
    background-color: var(--rich-black-fogra-29);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar,
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.navbar {
    right: -32rem;
    max-width: 32rem;
    background-color: var(--rich-black-fogra-29);
    z-index: 1;
    transition: 0.25s var(--cubic-in);
    visibility: hidden;
}

.navbar:is(.active) {
    transform: translateX(-32rem);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
    margin-block: 5.5rem 10rem;
}

.navbar-list {
    margin-block-end: 3rem;
    border-block-end: 1px solid var(--white_a10);
}

.navbar-item {
    border-block-start: 1px solid var(--white_a10);
}

.navbar-link {
    text-transform: uppercase;
    padding: 1rem 2.4rem;
}

.nav-close-btn {
    font-size: 2.8rem;
}

:is(.nav-open-btn, .nav-close-btn, .navbar-link, .social-list) {
    color: var(--white);
}

.nav-open-btn {
    font-size: 4rem;
}


.social-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8rem;
}

.overlay {
    right: -100%;
    background-color: var(--black);
    opacity: 0.3;
    visibility: hidden;
    transition: var(--transition-2);
    z-index: 2;
}

.overlay:is(.active) {
    transform: translateX(-100%);
    visibility: visible;

}


/* Responsive for large than 768px screen */
@media (min-width:768px) {
    .header .btn {
        display: block;
    }

    .nav-open-btn {
        margin-inline: auto;
    }

    .header .container {
        gap: 4rem;
    }
}

/* Responsive for large than 1200px screen */
@media (min-width:1200px) {

    .header {
        padding-block: 2.4rem;
    }

    .nav-open-btn,
    .nav-close-btn,
    .navbar-top,
    .navbar .social-list {
        display: none;
    }

    .navbar,
    .navbar:is(.active),
    .navbar-list {
        all: unset;
        display: block;
    }

    .navbar {
        margin-inline-start: auto;
    }

    .navbar-list {
        display: flex;
        gap: 8px;
    }

    .navbar-item {
        border-block-start: none;
    }

    .navbar-link {
        --title-md: 1.8rem;
        font-weight: var(--fw-500);
        text-transform: capitalize;
        padding-inline: 1.6rem;
    }

}