.listing {
    background-color: var(--alice-blue);
}

.listing-card {
    padding: 2.5rem 1.6rem;
    border-radius: var(--radius-12);
    display: flex;
    gap: 2rem;
    border: 2px solid var(--middle-blue-green_40);
    transition: var(--transition-1);
}

.listing-card:is(:hover, :focus-visible) {
    border-color: var(--verdigris);
}

.listing-card .card-title {
    margin-block-end: 5px;
    font-family: var(--ff-oswald);
}

.listing-card .card-text {
    color: var(--midnight-green);
}


/* Responsive for large than 768px screen */
@media (min-width:768px) {
    .listing .grid-list {
        grid-template-columns: 1fr 1fr;
    }

    .listing .grid-list>li:first-child {
        grid-column: 1 / 3;
    }
}


/* Responsive for large than 1200px screen */
@media (min-width:1200px) {
    .listing .grid-list {
        grid-template-columns: repeat(4, 1fr);
    }
}