.footer-top .container {
    display: grid;
    gap: 35px;
}

.footer-text {
    margin-block: 20px 25px;
}

.social-list {
    display: flex;
    gap: 10px;
}

.footer .social-link {
    width: 40px;
    height: 40px;
    background-color: var(--bg-purple-alpha-30);
    display: grid;
    place-items: center;
    clip-path: var(--clip-path-8);
    transition: var(--transition-1);
}


.footer .social-link:is(:hover, :focus-visible) {
    background-color: var(--bg-purple);
    transform: translateY(-2px);
}

.footer-list-title {
    font-size: var(--fontSize-3);
    font-weight: var(--weight-semiBold);
    line-height: 1;
    position: relative;
    margin-block-end: 20px;
    padding-block-end: 10px;
    max-width: max-content;
}


.footer-list-title::after {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--bg-purple);
}

.footer-link {
    padding-block: 5px;
    color: var(--text-white);
    transition: var(--transition-1);
}


.footer-link:is(:hover, :focus-visible) {
    color: var(--text-purple);
}


.contact-item .span {
    color: var(--text-white);
    font-size: var(--fontSize-7);
    text-transform: uppercase;
    font-weight: var(--weight-semiBold);

}

.contact-item .contact-link {
    color: var(--text-white);
}


.contact-item:not(:last-child) {
    margin-block-end: 15px;
}


.input-field {
    background-color: var(--bg-oxford-blue-alpha-90);
    color: var(--text-white);
    font-size: var(--fontSize-5);
    padding: 18px 12px;
    box-shadow: var(--shadow);
    border: 2px solid var(--border-purple-alpha-30);
    margin-block-end: 15px;
    outline: none;
}

.input-field::placeholder {
    color: var(--text-white);
}

.footer-bottom {
    clip-path: var(--clip-path-9);
    background-color: var(--bg-oxford-blue-alpha-80);
}


.copyright {
    padding: 30px 20px;
}


/* Responsive for large than 570px Screen */

@media(min-width:575px) {
    .footer-top .container {
        grid-template-columns: 1fr 1fr;
    }
}



/* Responsive for large than 992px Screen */

@media(min-width:992px) {
    .footer-top .container {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Responsive for large than 1200px Screen */

@media(min-width:1200px) {

    .footer-top .container {
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    }


    .footer .logo img {
        width: 250px;
    }

}