.header .btn {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-oxford-blue);
    padding: 10px 12px;
    z-index: 4;
}

.header:is(.active) {
    position: fixed;
    animation: slideUp 1s ease forwards;
}


@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translate(0);
    }
}

.header :where(.container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle-btn :where(.line) {
    background-color: var(--text-gainsboro);
    width: 10px;
    height: 4px;
    margin-block: 4px;
    border-radius: 8px;
    transition: var(--transition-1);
}

.nav-toggle-btn :where(.line-2) {
    width: 20px;
}

.nav-toggle-btn :where(.line-3) {
    margin-inline-start: auto;
}

.nav-toggle-btn:is(.active) :where(.line-2) {
    transform: rotate(-45deg);
}

.nav-toggle-btn:is(.active) :where(.line-1) {
    transform: rotate(45deg) translate(4px, 1.5px);
}

.nav-toggle-btn:is(.active) :where(.line-3) {
    transform: rotate(45deg) translate(-3px, -1px);
}


.navbar {
    position: absolute;
    top: calc(100% - 1px);
    right: 12px;
    left: 12px;
    background-color: var(--bg-oxford-blue);
    padding: 0 15px;
    clip-path: var(--clip-path-1);
    visibility: hidden;
    transition: clip-path 500ms var(--cubic-out);
}

.navbar:is(.active) {
    clip-path: var(--clip-path-2);
    visibility: visible;
}

.navbar-item {
    border-block-start: 1px solid var(--border-space-cadet);
}

.navbar-item:last-child {
    border-block-end: 1px solid var(--border-space-cadet);
}

.navbar-link {
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: var(--fontSize-7);
    font-weight: var(--weight-semiBold);
    color: var(--text-white);
}



/* Responsive for large than 570px Screen */

@media(min-width:575px) {
    .header .logo img {
        width: 160px;
    }
}


/* Responsive for large than 992px Screen */

@media(min-width:992px) {
    .nav-toggle-btn {
        display: none;
    }

    .navbar,
    .navbar:is(.active) {
        all: unset;
    }

    .navbar-item,
    .navbar-item:last-child {
        border: none;
    }

    .navbar-list {
        display: flex;
    }

    .header .btn {
        display: grid;
        text-align: center;
    }
}