.upcoming-item:not(:last-child) {
    margin-block-end: 90px;
}

.upcoming-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming-card::before {
    top: 50%;
    background-image: var(--gradient-1);
    transform: translateY(-50%);
    width: 90%;
    height: 80px;
    z-index: -1;
    opacity: 0.3;
    border-radius: var(--radius-5);
}

.upcoming-card .left::before {
    right: 0;
    clip-path: var(--clip-path-4);
}

.upcoming-card .right::before {
    left: 0;
    clip-path: var(--clip-path-6);
}


.upcoming-card .card-title {
    text-transform: uppercase;
}

.upcoming-card.left .card-title {
    margin-inline-end: 50px;
    text-align: right;
}

.upcoming-card.right .card-title {
    margin-inline-end: 50px;
    text-align: left;
}

.upcoming-card .card-meta {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: var(--gradient-1);
    width: max-content;
    padding: 6px 20px;
    font-size: var(--fontSize-7);
    font-weight: var(--weight-semiBold);
    text-transform: uppercase;
    border-radius: var(--radius-3);
}


.upcoming-card.left .card-meta {
    clip-path: var(--clip-path-5);
}

.upcoming-card.right .card-meta {
    clip-path: var(--clip-path-7);
}

.upcoming-card .img-cover {
    width: 90%;
}

.upcoming-card.right .card-banner {
    order: 1;
}


.upcoming-time {
    margin-block: 50px 30px;
}

.upcoming-time :is(.time, .date) {
    text-align: center;
}

.upcoming-time .time {
    color: var(--text-white);
    font-size: var(--fontSize-1);
    font-weight: var(--weight-bold);
    line-height: 1;
}

.upcoming-time .date {
    font-size: var(--fontSize-7);
    font-weight: var(--weight-semiBold);
    margin-block: 5px;
}

.upcoming-item .social-wrapper {
    justify-content: center;
}

.upcoming-item .social-link {
    color: var(--text-white);
    font-size: 2.5rem;
    transition: var(--transition-1);
}

.upcoming-item .social-link:is(:hover, :focus-visible) {
    color: var(--text-purple);
}


/* Responsive for large than 570px Screen */

@media(min-width:575px) {

    .upcoming-card .img-cover {
        width: 10rem;
    }

    .upcoming-card.left .card-meta {
        left: auto;
        right: -15px;
    }

    .upcoming-card.right .card-meta {
        left: 25%;
    }


}


/* Responsive for large than 768px Screen */

@media(min-width:768px) {



    .upcoming-card .card-meta {
        padding-block: 15px;
        bottom: -20px;
    }

    .upcoming-card .card-title {
        --fontSize-3: 2.8rem;
    }

    .upcoming-card.left .card-meta {
        right: -10%;
    }

    .upcoming-card.right .card-meta {
        left: 20%;
    }

    .upcoming-time .time {
        --fontSize-1: 5rem;
    }
}


/* Responsive for large than 992px Screen */

@media(min-width:992px) {
    .upcoming-item {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        align-items: center;
    }

    .upcoming-time {
        margin-block: 0;
    }

    .upcoming-card .card-meta {
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
    }

    .upcoming-card.right .card-meta {
        left: 50%;
    }
}


/* Responsive for large than 1200px Screen */

@media(min-width:1200px) {
    .upcoming-card .card-banner {
        max-width: 180px;
        width: auto;
    }

    .upcoming-card .card-meta {
        bottom: -30%;
    }

    .upcoming-card.left .card-meta {
        left: 35%;
    }


    .upcoming-card .time {
        --fontSize: 6.2rem;
    }
}